# local move build and storage files
/dex_modules/build/
/dex_modules/storage/
/dex_modules/tests/build/
/dex_modules/tests/storage/
/shuffle_dex_modules/main/build/
/shuffle_dex_modules/main/generated/

# DB data
/api/database/dev.db
/api/database/cache/

# IDE files
.idea/
